.details {
  width: 140px;
}

.details__title {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #222222;
  text-transform: uppercase;
  max-width: 70%;
  margin: 0;
  padding-bottom: 14px;
}

.details__text {
  font-family: $lato;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  color: #444444;
  width: 140px;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

@media (min-width: $tablet) {
  .details {
    width: 100%;
  }

  .details__title {
    margin: 0 auto;
    padding-top: 23px;
    max-width: 145px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
  }

  .details__text {
    width: 100%;
    border-bottom: 1px solid #cdcdcd;
    padding-bottom: 5px;
    padding-top: 5px;
    font-family: $lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
  }
}

@media (min-width: $desktop) {
  .details__title {
    padding-top: 11px;
  }

  .details__text {
    padding-top: 9px;
    padding-bottom: 3px;
  }
}
