.title-line {
  position: relative;

  &::before {
    content: "";
    background-color: $green;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    position: absolute;
    top: 15px;
    z-index: -1;
  }
}

.title-line__jacket {
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #000000;
  background-color: #ffffff;
  padding-left: 20px;
  padding-right: 37px;
}

@media (min-width: $tablet) {
  .title-line__jacket {
    text-align: left;
    margin-left: 30;
    padding-left: 40px;
    font-size: 32px;
    font-weight: 400;
    line-height: 32px;
  }
}

@media (min-width: $desktop) {
  .title-line__jacket {
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
    margin-left: -39px;
    margin-bottom: 30px;
  }
}
