.advantages {
  padding-top: 20px;
  margin: 0 20px;
  padding-bottom: 20px;
}

.advantages__title {
  font-family: $oswald;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: left;
  margin: 0 0 40px;
  padding: 0;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages__item {
  position: relative;
  min-height: 60px;
  margin-bottom: 18px;
  padding-left: 81px;
  padding-top: 2px;

  &::before {
    content: "";
    width: 60px;
    height: 60px;
    background: $green;
    position: absolute;
    left: 0;
    top: 0;
  }

  &::after {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-position: 0 0;
    z-index: 5;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.advantages__item--leaf::after {
  background-image: url("../../icons/leaf-adv.svg");
  width: 30px;
  height: 32px;
  top: 15px;
  left: 15px;
}

.advantages__item--boil::after {
  background-image: url("../../icons/boil-adv.svg");
  width: 26px;
  height: 29px;
  left: 15px;
  top: 18px;
}

.advantages__item--eat::after {
  background-image: url("../../icons/eat-adv.svg");
  width: 25px;
  height: 30px;
  left: 15px;
  top: 18px;
}

.advantages__item--clock::after {
  background-image: url("../../icons/clock-adv.svg");
  width: 26px;
  height: 31px;
  left: 15px;
  top: 17px;
}

.advantages__text {
  margin: 0;
  padding: 0;
  max-width: 500px;
  font-family: $lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: #444444;
  position: relative;
}

.advantages__number {
  visibility: hidden;
}

@media (min-width: $tablet) {
  .advantages {
    margin: 45px 0;
    padding: 0;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 47px;
  }

  .advantages__title {
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    text-align: left;
    margin: 30px 30px 32px;
    padding: 0;
  }

  .advantages__list {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 250px 250px;
    column-gap: 94px;
    justify-content: center;
  }

  .advantages__item {
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 280px;


    &::before {
      content: "";
      width: 80px;
      height: 80px;
      background: $green;
      position: absolute;
      left: 0;
      top: 40px;
    }
  }

  .advantages__item--leaf::after {
    top: 65px;
    left: 25px;
  }

  .advantages__item--boil::after {
    top: 65px;
    left: 25px;
  }

  .advantages__item--eat::after {
    top: 65px;
    left: 25px;
  }

  .advantages__item--clock::after {
    top: 65px;
    left: 25px;
  }

  .advantages__text {
    font-family: $lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #444444;
    width: 250px;
    margin-top: -130px;
  }

  .advantages__number {
    visibility: visible;
    font-size: 280px;
    font-weight: 400;
    line-height: 280px;
    text-align: center;
    color: #f2f2f2;
    padding-left: 120px;
  }
}

@media (min-width: $desktop) {
  .advantages {
    width: 1220px;
    margin: 0 auto;
    border-bottom: unset;
  }

  .advantages__title {
    margin: 71px 0 32px;
  }

  .advantages__list {
    grid-template-columns: 250px 250px 250px 250px;
    justify-content: center;
    column-gap: 70px;
    margin: 0 auto;
    display: grid;
  }
}

