.description {
  background: #eaeaea;
  padding: 20px;
}

.description__title {
  margin: 0;
  padding: 0;
  font-family: $oswald;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
  margin-bottom: 20px;
}

.description__text {
  font-family: $lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: #444444;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.description__results {
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 124px 124px;
  gap: 32px;
  justify-content: center;
}

.description__cost {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 20px 0;
}

@media (min-width: $tablet) {
  .description {
    background: none;
    margin: 30px;
    padding: 0;
  }

  .description__title {
    margin: 0;
    padding: 0;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    text-align: left;
    margin-bottom: 60px;
  }

  .description__text {
    font-family: $lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #444444;
    margin: 0;
    padding: 0;
    min-width: 708px;
    margin-bottom: 55px;
  }

  .description__container {
    min-width: 708px;
    display: flex;
    justify-content: space-between;
  }

  .description__results {
    padding: 0;
    margin: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 200px 200px;
    gap: 50px;
    justify-content: left;
  }

  .description__cost {
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    text-align: right;
    padding: 0;
    width: 175px;
  }
}

@media (min-width: $desktop) {
  .description {
    background-color: #f2f2f2;
    margin: 0;
    position: relative;

    &::before {
      content: "";
      width: 100%;
      height: 130px;
      background-color: #ffffff;
      position: absolute;
      z-index: 1;
      left: 0;
      top: 0;
    }
  }


  .description__wrapper {
    width: 1220px;
    margin: 0 auto;
    position: relative;
    z-index: 5;
  }

  .description__title {
    margin: 0 110px 71px;
    position: relative;
    z-index: 3;
  }

  .description__text {
    width: 436px;
    padding: 70px 250px 0 0;
    box-sizing: border-box;
  }

  .description__container {
    display: block;
  }

  .description__results {
    position: relative;
  }

  .result__text {
    background-color: blueviolet;
  }

  .description__cost {
    text-align: left;
    padding: 60px 0;
    width: 600px;
  }

  .description__sum {
    padding: 120px;
  }
}

