.description {
  background: #eaeaea;
  padding: 25px 20px 38px;
}

.description__title {
  margin: 0;
  padding: 0;
  font-family: $oswald;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  text-align: left;
  margin-bottom: 41px;
}

.description__text {
  font-family: $lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: #444444;
  margin: 0;
  padding: 0;
  margin-bottom: 19px;
}

.description__results {
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 124px 124px;
  gap: 32px;
  justify-content: center;
}

.description__cost {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 20px 0;
}

@media (min-width: $tablet) {
  .description {
    background: none;
    margin: 0 auto;
    padding: 0;
  }

  .description__title {
    margin: 45px 0 60px;
    padding: 0;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    text-align: left;
  }

  .description__text {
    font-family: $lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #444444;
    margin: 0 0 55px;
    padding: 0;
    min-width: 708px;
  }

  .description__container {
    min-width: 708px;
    display: flex;
    justify-content: space-between;
    margin: 0 0 97px;
  }

  .description__results {
    padding: 0;
    margin: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 162px 162px;
    gap: 43px;
    justify-content: left;
  }

  .description__cost {
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    text-align: right;
    padding: 12px 2px;
    width: 175px;
  }

  .description__sum {
    display: block;
    padding-top: 9px;
  }
}

@media (min-width: $desktop) {
  .description {
    background-color: #f2f2f2;
    margin: 0;
    position: relative;
    padding-bottom: 75px;
  }

  .description__wrapper {
    width: 1220px;
    margin: 0 auto;
    position: relative;
    z-index: 5;
  }

  .description__title {
    margin: 0;
    position: relative;
    padding: 23px 111px 76px;
    background-color: #ffffff;
  }

  .description__title-text {
    width: 1220px;
    margin: 0 auto;
    display: block;
  }

  .description__text {
    width: 436px;
    padding: 70px 266px 15px 10px;
    box-sizing: border-box;
    margin: 0 0 54px;
  }

  .description__container {
    display: block;
    margin-bottom: 0;
  }

  .description__results {
    position: relative;
    padding-left: 11px;
  }


  .description__cost {
    text-align: left;
    width: 327px;
    padding: 54px 11px 0;
    display: flex;
    justify-content: space-between;
  }


  .description__sum {
    padding: 0;
  }
}

