.footer {

}

.footer__wrapper {
  display: grid;
  grid-template-columns: 140px 140px;
  padding: 20px;
  gap: 20px;
}


.footer__map {
  max-width: 500px;
}

.footer__elements {
  background-color: #f2f2f2;
  position: relative;
  padding: 40px 20px;
}

.footer__container {
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 20px;
}

.footer__logo {
  display: block;
  text-align: center;
}

.link__developer {
  border-top: 1px solid #d9d9d9;
  padding: 20px 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer__link {
  text-decoration: none;
  width: 113px;
  height: 20px;
}

.footer__pin {
  text-decoration: none;
  width: 27px;
  height: 34px;
}

@media (min-width: $desktop) {
  .footer__elements {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 66px 110px;
  }

  .footer__container {
    border-bottom: unset;
    padding: 0;
    margin: 0;
  }

  .link__developer {
    border-top: unset;
    padding: 0;
  }

  .footer__link {
    padding-right: 23px;
  }
}
