.goals {
}


.goals__list {
  margin: 0 20px;
  padding: 0;
  display: block;
  list-style: none;
}

.goals__item {
  background-color: #f2f2f2;
  margin-bottom: 20px;
  padding: 30px 22px 16px;
  position: relative;

  &::before {
    content: "";
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: $green;
    position: absolute;
    left: 24px;
    top: 22px;
    z-index: 1;
  }

  &::after {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 5;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.goals__item--slim::after {
  background-image: url("../../images/cat-slim.svg");
  left: 29px;
  top: 21px;
  width: 36px;
  height: 50px;
}

.goals__item--pro::after {
  background-image: url("../../images/cat-pro.svg");
  width: 67px;
  height: 28px;
  left: 20px;
  top: 40px;
}

.goals__title {
  font-family: $oswald;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  margin: 0 0 29px;
  padding: 0 0 0 70px;
  text-transform: uppercase;
}

.goals__text {
  font-family: $lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: #444444;
  margin: 0 0 16px;
  padding: 0 0 23px;
  border-bottom: 1px solid #d9d9d9;
}

.goal__link {
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  position: relative;
  text-decoration: none;
  font-family: $oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  padding-right: 65px;


  &::after {
    content: "";
    width: 24px;
    height: 10px;
    position: absolute;
    left: calc(100% - 40px);
    background: url("../../images/arrow-goals.svg") no-repeat right top;
    top: 4px;
    transition: width 0.3s ease;
  }

  &:hover::after {
    width: 32px;
  }
}

@media (min-width: $tablet) {
  .goals__list {
    margin: 0;
    padding: 0;
  }

  .goals__item {
    margin: 0 30px 30px;
    padding: 77px 63px 52px 53px;
    position: relative;


    &::before {
      content: "";
      width: 200px;
      height: 200px;
      border-radius: 50%;
      background: $green;
      position: absolute;
      top: 100px;
      left: 484px;
      z-index: 1;
    }
  }

  .goals__item--slim::after {
    top: 78px;
    left: 510px;
    width: 140px;
    height: 194px;
  }

  .goals__item--pro::after {
    width: 268px;
    height: 112px;
    top: 150px;
    left: 450px;
  }

  .goals__title {
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    margin: 0;
    padding: 0 200px 24px 0;
    padding-bottom: 24px;
  }

  .goals__text {
    font-family: "Lato";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    border: none;
    margin: 0;
    padding: 0;
    width: 340px;
    padding-bottom: 48px;
  }

  .goal__link {
    font-size: 20px;
    font-weight: 400;
    line-height: 29.64px;
    text-align: center;
    max-width: 105px;
    box-sizing: border-box;
  }

  .goal__link::after {
    top: 10px;
  }
}

@media (min-width: $desktop) {
  .goals {
    width: 1220px;
    margin: 0 auto;
  }

  .goals__list {
    display: grid;
    grid-template-columns: 570px 570px;
    gap: 80px;
    justify-content: space-between;
  }


  .goals__item {
    margin: 0;
    padding: 77px 61px 55px 52px;
    box-sizing: border-box;
    position: relative;
    width: 570px;

    &::before {
      width: 100px;
      height: 100px;
      top: 40px;
      left: 40px;
    }
  }

  .goals__item--slim::after {
    top: 40px;
    left: 55px;
    width: 70px;
    height: 97px;
  }

  .goals__item--pro::after {
    width: 134px;
    height: 56px;
    top: 70px;
    left: 30px;
  }

  .goals__title {
    padding: 0 74px 54px 170px;
  }

  .goals__text {
    width: 451px;
  }
}
