.hero {
  color: #ffffff;
  margin-bottom: 20px;
}

.hero__wrapper {
  padding-bottom: 135px;
  position: relative;
  margin-bottom: 3px;

  &::before {
    content: "";
    width: 280px;
    height: 270px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    background: url("../../images/index-can-mobile.png") no-repeat 0 0;
    z-index: 10;
  }
}

.hero__block {
  background: #424147 url("../../images/index-background-mobile.jpg") no-repeat top center;
  background-size: auto 100%;
  padding-top: 27px;
  padding-bottom: 163px;
  position: relative;

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: $green;
    opacity: 0.85;
  }
}

.hero__title {
  font-family: $oswald;
  margin: 0 auto 26px;
  padding: 0;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  width: 300px;
  position: relative;
  z-index: 5;
}

.hero__text {
  margin: 0 auto;
  padding: 0;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  font-weight: 400;
  width: 300px;
  text-transform: uppercase;
  position: relative;
  z-index: 5;
}

.hero__link {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: $green;
  color: #ffffff;
  display: block;
  margin: 0 20px;
  padding: 11px 5px 9px;

  &:hover {
    background-color: $green2;
  }

  &:focus {
    background-color: $green2;
    outline: none;
  }

  &:active {
    background-color: $green2;
    color: rgba(255, 255, 255, 0.3);
  }
}


@media (min-width: $tablet) {
  .hero {
    position: relative;
    width: 709px;
    margin: 0 auto;
    color: #000000;
    box-sizing: border-box;
    padding-left: 100px;
    padding-top: 45px;
    padding-bottom: 528px;

    &::before {
      content: "";
      width: 709px;
      height: 609px;
      position: absolute;
      bottom: 3px;
      left: 51%;
      transform: translate(-50%);
      background: url("../../images/index-can-tablet.png") no-repeat 0 0;

      @media (min-resolution: 2dppx) {
        background: url("../../images/index-can-tablet@2x.png") no-repeat 0 0;
      }
    }
  }

  .hero__wrapper {
    padding: 0;
    margin: 0;

    &::before {
      display: none;
    }
  }

  .hero__block {
    background: none;
    padding: 0;

    &::before {
      display: none;
    }
  }

  .hero__title {
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    text-align: left;
    margin: 0 0 41px;
    width: 450px;
  }

  .hero__text {
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    width: 450px;
    margin: 0 0 48px;
  }

  .hero__link {
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    width: 245px;
    margin: 0;
    box-sizing: border-box;
    padding: 15px 5px 14px;
    position: relative;
    z-index: 10;
  }
}

@media (min-width: $desktop) {
  .hero {
    margin: 0 0 81px;
    padding: 0 0 57px;
    position: relative;
    width: 100%;

    &::before {
      width: 50%;
      height: calc(100% + 139px);
      background: $green;
      transform: translate(0);
      bottom: unset;
      top: -139px;
      z-index: 5;
      opacity: 85%;
    }

    &::after {
      content: "";
      position: absolute;
      width: 50%;
      height: calc(100% + 139px);
      background: #4f4f53 url("../../images/index-background-desktop 1.jpg") no-repeat right top;

      @media (min-resolution: 2dppx) {
        background: url("../../images/index-background-desktop 1@2x.jpg") no-repeat 0 0;
      }
      transform: translate(0);
      bottom: unset;
      top: -139px;
      left: 50%;
      z-index: 1;
      background-size: auto 100%;
    }
  }

  .hero__container {
    width: 1220px;
    margin: 0 auto;
    box-sizing: border-box;
    padding-right: 650px;
    padding-left: 90px;
    padding-top: 86px;
    min-height: 499px;
    position: relative;
    z-index: 10;

    &::before {
      content: "";
      width: 552px;
      height: 499px;
      background: url("../../images/index-can-desktop.png") no-repeat 0 0;

      @media (min-resolution: 2dppx) {
        background:
          url("../../images/index-can-desktop@2x.png")
          no-repeat 0 0;
      }
      position: absolute;
      left: 59%;
      top: 5px;
      margin-left: -262px;
    }
  }

  .hero__wrapper {
    position: relative;
  }

  .hero__title {
    margin: 0 0 39px;
    padding: 0;
  }

  .hero__text {
    margin: 0 0 52px;
  }
}
