.invite {
  margin: 0 20px;
  padding: 15px 0 11px;
  display: flex;
  justify-content: space-between;
}

.invite__title {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  text-transform: uppercase;
  width: 140px;
}

.invite__text {
  margin: 13px 0;
  font-family: $lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #444444;
  width: 140px;
}

.invite__text span {
  display: block;
}

@media (min-width: $tablet) {
  .invite {
    margin: 0 30px;
    padding: 61px 39px 61px 40px;
  }

  .invite__title {
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    margin: 0;
  }

  .invite__text {
    font-family: $lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: right;
    color: #444444;
    width: 157px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media (min-width: $desktop) {
  .invite {
    width: 565px;
    margin: 95px 0 0 -610px;
    padding: 60px 0;
    z-index: 30;
    position: relative;
    background-color: #ffffff;
    justify-content: center;
    gap: 80px;
    left: 50%;
    top: -41px;
  }

  .invite__title {
    padding: 0 28px 0 0;
  }

  .invite__text {
    text-align: left;
    padding: 0;
  }
}
