.main-header {
  padding-top: 65px;
  position: relative;
  background: url("../../images/logo-mobile-text.svg") no-repeat center 23px;
}

.main-header__logo {
  position: absolute;
  top: 13px;
  left: 21px;
}

@media (min-resolution: 2dppx) {
  background-image: url("../img/logo-mobile-text@2x.svg");
  background-size: 1338px auto;
}

@media (min-width: $desktop-width) {
  height: __px;
  background-position: 50% 0;
  background-size: cover;
}
