.product {
  margin: 0;
  padding: 0;
  border-top: 1px solid #d9d9d9;
}

.product__title {
  text-align: center;
  padding: 26px 20px 41px 0;
}

.product__about {
  padding: 0;
  margin: 0;
  list-style: none;
}

.product__all {
  position: relative;
  padding-top: 47px;

  &::before {
    content: "";
    background-color: #d3d3d3;
    width: 30px;
    height: 2px;
    position: absolute;
    top: 24px;
    left: 125px;
  }

  &::after {
    content: "";
    background-color: #d3d3d3;
    width: 2px;
    height: 30px;
    position: absolute;
    top: 8px;
    left: 50%;
  }
}

@media (min-width: $tablet) {
  .product {
    padding: 0 30px;
    margin-bottom: 52px;
    border: none;
  }

  .product__title {
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    text-align: left;
    border: none;
    margin: 46px 0 96px;
    padding: 0;
  }

  .product__about {
    display: grid;
    grid-template-columns: 324px 324px;
    gap: 70px 60px;
    justify-content: space-evenly;
  }
}

@media (min-width: $desktop) {
  .product {
    width: 1220px;
    margin: 0 auto;
    padding: 0;
  }

  .product__catalog {
    margin: 0 auto;
    width: 245px;
    padding-bottom: 40px;
  }

  .product__title {
    margin: 50px 0 94px;
  }

  .product__about {
    grid-template-columns: repeat(4, 245px);
    gap: 72px 80px;
    padding-left: 0;
  }
}
