.site-list {
  margin: 0;
  padding: 0;
  list-style: none;
  border-top: 1px solid #e6e6e6;
}

.site-list__item {
  border-bottom: 1px solid #e6e6e6;
}

.site-list__link {
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  display: block;
  text-align: center;
  padding: 24px 5px 21px;

  &:hover {
    opacity: 60%;
  }

  &:focus {
    opacity: 60%;
  }

  &:active {
    opacity: 30%;
  }
}

@media (min-width: $tablet) {
  .site-list__link {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    padding: 0;
  }

  .site-list {
    border: none;
  }

  .site-list__item {
    border: none;
  }

  .site-list__link--current {
    border-bottom: 2px solid $green;
    padding-bottom: 5px;
  }
}

@media (min-width: $desktop) {
  .site-list__link {
    font-size: 20px;
    font-weight: 400;
    line-height: 29.64px;
    text-align: left;
    color: inherit;
  }

  .site-list__link--index {
    border-bottom: 2px solid #ffffff;
  }

  .site-list__link--current {
    padding-bottom: 4px;
  }
}
