.slider__container {
  width: 280px;
  height: 256px;
  background-color: #eaeaea;
  margin: 0 auto;
  position: relative;
}

.slider__list {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  width: 100%;
  height: 100%;
}

.slider__screen {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.slider__screen--before {
  z-index: 5;
  width: 50%;
  background-color: #eaeaea;
  transition: width 2s ease;
}

.slider__screen--after {
  z-index: 1;
  width: 100%;
}

.slider--before .slider__screen--before {
  width: 100%;
}

.slider--after .slider__screen--before {
  width: 0;
}

.slider__control {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  background-color: #ffffff;
  z-index: 10;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #666666;
  transition: left 2s ease;
}

.slider--before .slider__control {
  left: 100%;
}

.slider--after .slider__control {
  left: 0;
}

.slider__control::before {
  content: "";
  position: absolute;
  height: 256px;
  width: 4px;
  border-radius: 2px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #666666;
}

.slider__control::after {
  content: "";
  position: absolute;
  height: 37px;
  width: 37px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #666666;
  mask-image: url("../../images/slider-vector.svg");
  mask-repeat: no-repeat;
  mask-position: center;
}

.slider__control-bg {
  position: absolute;
  height: 37px;
  width: 37px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
}

.slider__control:hover {
  border: 2px solid $green;
}

.slider__control:hover::before {
  background-color: $green;
}

.slider__control:focus {
  border: 2px solid $green;
}

.slider__control:focus::before {
  background-color: $green;
}

.slider__control:hover::after {
  background-color: $green;
}

@media (min-width: $tablet) {
  .slider {
    margin-top: 0;
    background-color: #eaeaea;
    position: relative;
    padding-bottom: 100px;
    padding-top: 0;

    &::before {
      content: "";
      width: 100%;
      height: 152px;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #ffffff;
      z-index: 1;
    }
  }

  .slider__container {
    width: 560px;
    height: 512px;
    background-color: #ffffff;
    margin: 0 auto;
    position: relative;
  }

  .slider__control::before {
    height: 512px;
  }

  .slider__screen--before {
    background-color: #eaeaea;

    img {
      position: relative;
      z-index: 5;
    }

    &::before {
      content: "";
      width: 100%;
      height: 152px;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #ffffff;
      z-index: 1;
    }
  }


  .slider__screen--after {
    background-color: #eaeaea;

    img {
      z-index: 5;
      position: relative;
    }

    &::before {
      content: "";
      width: 100%;
      height: 152px;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #ffffff;
      z-index: 1;
    }
  }
}


@media (min-width: $desktop) {
  .slider {
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: -135px;
  }


  .slider__container {
    background-color: #f2f2f2;
    width: 560px;
    height: 512px;
    margin: 0;
    position: relative;
  }

  .slider__screen {
    left: 0;
    background-color: #f2f2f2;

    &::before {
      height: 135px;
    }
  }
}

