
.social {
  margin: 20px auto;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 24px;
  max-width: 132px;
}

.social__link {
  width: 28px;
  height: 22px;
  background-color: #666666;
  display: block;
}

.social__link--vk {
  mask: url("../../icons/vkontakte.svg");

  &:hover {
    background-color: $green;
  }

  &:active {
    background-image: $green;
    opacity: 30%;
  }
}

.social__link--youtube {
  mask: url("../../icons/youtube.svg");

  &:hover {
    background-color: $green;
  }

  &:active {
    background-image: $green;
    opacity: 30%;
  }
}

.social__link--telegram {
  mask: url("../../icons/telegram.svg");

  &:hover {
    background-color: $green;
  }

  &:active {
    background-image: $green;
    opacity: 30%;
  }
}

@media (min-width: $tablet) {
  .social {
    padding-left: 33px;
  }
}

@media (min-width: $desktop) {
  .social {
    margin: 0;
    padding-left: 30px;
  }

  .social__item {
    justify-content: center;
  }
}
