.subscribe {
  position: relative;
}

.subscribe__title {
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  margin: 40px 20px 32px;


  &::before {
    content: "";
    background-color: #68b738;
    border-radius: 2px;
    width: 100%;
    height: 2px;
    position: absolute;
    top: 12px;
    left: 200px;
  }
}

.subscribe__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 20px 40px;
}

.subscribe__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin: 0 аuto;
}

.subscribe__form {
  margin: 0 auto;
}

.subscribe__input {
  border: 1px solid #cdcdcd;
  width: 94%;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: #444444;
  text-transform: uppercase;
  margin-bottom: 16px;
  padding: 12px;
  text-align: left;
}

.subscribe__button {
  font: $oswald;
  width: 100%;
  padding: 15px;
  font-size: 20px;
  line-height: 26px;
  background-color: $green;
  color: #ffffff;
  border: none;
  text-transform: uppercase;
}

@media (min-width: $tablet) {
  .subscribe {
    position: relative;
    margin-bottom: 60px;
    margin-top: 80px;
  }

  .subscribe__title {
    font-size: 32px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    z-index: 5;
    margin: 0;
    margin-bottom: 46px;
    position: relative;
    padding-left: 153px;

    &::before {
      top: 20px;
      left: 0;
      z-index: -3;
    }

    &::after {
      content: "";
      position: absolute;
      width: 282px;
      height: 50px;
      background-color: #ffffff;
      top: -5px;
      left: 110px;
      z-index: -2;
    }
  }


  .subscribe__container {
    margin: 0 auto;
  }

  .subscribe__text {
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
  }

  .subscribe__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  // .subscribe__label {
  //   flex-grow: 1;
  // }

  .subscribe__input {
    margin: 0;
    min-width: 376px;
  }

  .subscribe__button {
    width: 30%;
  }
}
