.subscribe {
  position: relative;
  margin-top: 35px;
}


.subscribe__jacket {
  display: inline-block;
}

.subscribe__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 21px 20px 38px;
}

.subscribe__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin: 26px auto 17px;
  margin-top: 5px;
  min-width: 234px;
}

.subscribe__form {
  margin: 0 auto;
  padding-top: 9px;
}

.subscribe__input {
  border: none;
  outline: 1px solid #e7e7e7;
  width: 100%;
  font-family: $oswald;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: #444444;
  text-transform: uppercase;
  margin-bottom: 16px;
  padding: 12px;
  text-align: left;
  box-sizing: border-box;
  outline-offset: -1px;

  &:hover {
    outline: 1px solid #cdcdcd;
    outline-offset: -1px;
  }

  &:focus {
    outline: 2px solid #444444;
  }

  &:invalid {
    outline-color: #ff8282;
  }
}

.subscribe__button {
  font-family: $oswald;
  width: 100%;
  padding: 15px;
  font-size: 20px;
  line-height: 26px;
  background-color: $green;
  color: #ffffff;
  border: none;
  text-transform: uppercase;

  &:hover {
    background-color: $green2;
  }

  &:focus {
    background-color: $green2;
    outline: none;
  }

  &:active {
    background-color: $green2;
    color: rgba(255, 255, 255, 0.3);
  }
}

@media (min-width: $tablet) {
  .subscribe {
    position: relative;
    margin-bottom: 80px;
    margin-top: 0;
  }

  .subscribe__title {
    position: relative;
  }

  .subscribe__container {
    margin: 0 auto;
    max-width: 635px;
  }

  .subscribe__text {
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    margin-top: 61px;
    margin-bottom: 15px;
  }

  .subscribe__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  .subscribe__input {
    margin: 0;
    min-width: 376px;
    height: 100%;
    box-sizing: border-box;
  }

  .subscribe__button {
    width: 256px;
  }
}

@media (min-width: $desktop) {
  .subscribe {
    padding-top: 21px;
  }

  .subscribe__title {
    margin: 0;
  }

  .subscribe__wrapper-desktop {
    margin: 0 auto;
    width: 1220px;
    display: block;
  }

  .subscribe__container {
    max-width: 752px;
    margin-bottom: 103px;
  }

  .subscribe__text {
    margin-top: 39px;
  }

  .subscribe__form {
    padding-top: 7px;
  }

  .subscribe__input {
    min-width: 495px;
  }
}
